{% extends 'DurabolBundle:BackEnd:index.html.twig' %}

{% block menuslide %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('durabol_homepage_admin') }}"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp;总览  <span class="sr-only">(current)</span></a></li>
        <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;信息</a></li>
        <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp; 分析</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('user_index') }}"><i class="fa fa-users" aria-hidden="true"></i> &nbsp;&nbsp;用户管理</a></li>
        <li class="active"><a href="{{ path('shop_index') }}"><i class="fa fa-columns" aria-hidden="true"></i> &nbsp;&nbsp;店铺分类管理</a></li>
        <li><a href="{{ path('product_selectShop') }}"><i class="fa fa-female" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;产品管理</a></li>
        <li><a href="{{ path('select_sale') }}"><i class="fa fa-heart" aria-hidden="true"></i> &nbsp;&nbsp;打折选择</a></li>
        <li><a href="{{ path('orderinfo_index') }}"><i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp;&nbsp;订单管理</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1 class="sub-header">店铺: {{ shop.name }}</h1>
    <br>
    <ul>
        <li>
            <a href="{{ path('category_new', { 'shop': shop.id }) }}" class="button button-rounded button-inverse">创建新分类</a>
            <a href="{{ path('shop_index') }}" class="button button-rounded button-inverse">返回店铺列表</a>
        </li>
    </ul>
    <br>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>分类名</th>
                <th>描述</th>
                <th>是否置顶</th>
                <th>分类图片</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    {% if category.isTop %}
                        是<br><a class="button button-tiny button-caution" href="{{ path('category_isTop', { 'id': category.id }) }}">取消置顶</a>
                    {% else %}
                        否<br><a class="button button-tiny button-action" href="{{ path('category_isTop', { 'id': category.id }) }}">置顶</a>
                    {% endif %}
                </td>
                <td><img src="{{ asset('uploads/fotos/' ~ category.foto) }}" height="100px" width="100px"></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('category_edit', { 'id': category.id, 'shop': shop.id }) }}" class="button button-tiny button-primary">修改</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
