{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/durabol/css/index.css') }}">
{% endblock %}

{% block body %}
    {% include 'DurabolBundle:Public:header.html.twig' %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="container-fluid">
                <div class="row qianggou">
                    <div class="col-xs-12">
                        <div class="topnav navbar-fixed-top">
                            <div class="container">
                                <div class="zuobian">
                                    <a href="{{ path('fos_user_security_login') }}">登录</a>
                                    <a href="{{ path('fos_user_security_logout') }}">退出登录</a>
                                    <a href="{{ path('fos_user_registration_register') }}">快速注册</a>
                                </div>
                                <div class="youbian">
                                    <a href="{{ path('order_pedido') }}">订单查询</a>
                                    <a href="{{ path('font_info') }}"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> &nbsp;联系客服</a>
                                    <a onClick="document.getElementById('persons').click();" style="cursor: pointer"><i class="fa fa-mobile" aria-hidden="true"></i> &nbsp;我的百团</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                {% for slider in sliders %}
                                    <div class={% if loop.index == 1 %}"item active"{% else %}"item"{% endif %}>
                                        <img src="{{ asset('uploads/fotos/' ~ slider.foto) }}">
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12" style="display: none">
                        <h3><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;限时抢购
                            <span class="text-muted">>>查看更多</span>
                        </h3>
                        <hr class="featurette-divider">
                    </div>
                    {% for productSale in productSales %}
                        <div class="col-lg-3 col-xs-4 product" style="display: none">
                            <div class="">
                                <div id="productimg">
                                    <a href="{{ path('font_productList', { 'category': productSale.category.id }) }}#product{{ productSale.id }}">
                                        <img src="{{ asset('uploads/fotos/' ~ productSale.foto) }}">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h6>{{ productSale.name }}</h6>
                                    <div class="price _product-price">
                                        <span class="sale">{{ productSale.discountPrice|number_format(2, '.', ',') }}</span>
                                        <span class="line-through">{{ productSale.price|number_format(2, '.', ',') }} €</span>
                                        <a class="btn btn-danger" href="{{ path('font_productList', { 'category': productSale.category.id }) }}#product{{ productSale.id }}">马上抢购</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row gongneng" style="margin-bottom: 30px;">
                    {% for pingtu in pingtus %}
                        <div class="col-xs-4 col-lg-4 pingtu">
                            <a {% if pingtu.routing == 'store' %}
                                    onClick="document.getElementById('store').click();"
                               {% elseif pingtu.routing == 'carts' %}
                                    onClick="document.getElementById('carts').click();"
                               {% elseif pingtu.routing == 'shop' %}
                                    href="{{ path('font_categoryList', { 'shop': pingtu.shopId }) }}"
                               {% else %}
                                    href="{{ path(pingtu.routing) }}"
                               {% endif %}
                            >
                                <img src="{{ asset('uploads/fotos/' ~ pingtu.foto) }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
                {% for shop in shops %}
                    <div class="row">
                        <div class="col-xs-2 jieshao">
                            <h5><img src="{{ asset('uploads/fotos/' ~ shop.foto) }}"><br><span id="description">{{ shop.description }}</span></h5>
                            <span class="text-muted"><a href="{{ path('font_categoryList', { 'shop': shop.id }) }}">>>进入店铺</a></span>
                        </div>
                        <div class="col-xs-10 jieshaoimg">
                            <div class="col-xs-3">
                                <a id="product_image" href="{{ path('font_productList', { 'category': shop.category(0).id }) }}">
                                    <img src="{{ asset('uploads/fotos/' ~ shop.category(0).foto) }}">
                                </a>
                                <div class="indexcategory">
                                    <h6>{{ shop.category(0).name }}</h6>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <a id="product_image" href="{{ path('font_productList', { 'category': shop.category(1).id }) }}">
                                    <img src="{{ asset('uploads/fotos/' ~ shop.category(1).foto) }}">
                                </a>
                                <div class="indexcategory">
                                    <h6>{{ shop.category(1).name }}</h6>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <a id="product_image" href="{{ path('font_productList', { 'category': shop.category(2).id }) }}">
                                    <img src="{{ asset('uploads/fotos/' ~ shop.category(2).foto) }}">
                                </a>
                                <div class="indexcategory">
                                    <h6>{{ shop.category(2).name }}</h6>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <a id="product_image" href="{{ path('font_productList', { 'category': shop.category(3).id }) }}">
                                    <img src="{{ asset('uploads/fotos/' ~ shop.category(3).foto) }}">
                                </a>
                                <div class="indexcategory">
                                    <h6>{{ shop.category(3).name }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="featurette-divider">
                {% endfor %}
            </div>
        </div>




        <div role="tabpanel" class="tab-pane" id="stores">
            <div class="container-fluid" style="margin-top: 80px;">
                <form class="navbar-form">
                    <input type="text" class="form-control" id="search" placeholder="查找店铺...">
                </form>
                {% for shop in shops %}
                <div class="shops">
                    <a href="{{ path('font_categoryList', { 'shop': shop.id }) }}">
                        <div class="col-xs-12">
                            <div class="col-xs-4 col-lg-2 categoryimg">
                                <img src="{{ asset('uploads/fotos/' ~ shop.foto) }}">
                            </div>
                            <div class="col-xs-6 col-lg-8 categoryinfo">
                                <h3><span>{{ shop.name }}</span> (<span>{{ shop.nameShort }}</span>)</h3>
                                <h5>{% for categoryName in shop.categoryNames %}{% if loop.index <= 5 %}{{ categoryName }}, {% endif %}{% endfor %}等</h5>
                                <h5>{{ shop.minCoste }} €起订, 共计{{ shop.productNum }}个商品</h5>
                            </div>
                            <div class="col-xs-2">
                                <i class="fa fa-chevron-right rightlogo" aria-hidden="true" style=""></i>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>





        <div role="tabpanel" class="tab-pane" id="cart">
        {% if user.username is defined %}
            <div class="container-fluid">
            <section id="main" class="content-main" role="main" style="margin-top: 80px;">
                <section id="shop-cart-content">
                        <table class="order-table">
                            {% for cartShop in cartShops %}
                            <thead>
                            <tr class="thead">
                                <th>店铺: {{ cartShop.name }}</th>
                                <th class="description">说明</th>
                                <th class="quantity">数量</th>
                                <th>单位</th>
                                <th class="price" id="priceHeader">价格</th>
                                <th><span id="cartShopId" style="display: none">{{ cartShop.id }}</span></th>
                            </tr>
                            </thead>
                            <tbody id="shangpin{{ cartShop.id }}">
                                {% for cartItem in cartItems if cartItem.product.category.shop.id == cartShop.id %}
                                    <tr id="order-item" class="order-item">
                                        <td class="_detail">
                                            <img src="{{ asset('uploads/fotos/' ~ cartItem.product.foto) }}" width="135px;">
                                        </td>
                                        <td class="description _detail">
                                            <span>{{ cartItem.product.name }}</span><br><br>{{ cartItem.product.code }}
                                        </td>
                                        <td class="quantity">
                                            <span class="_quantity" id="_quantity">{{ cartItem.quantity }}</span>
                                            <span id="cartItemId" style="display: none">{{ cartItem.id }}</span>
                                            <span id="priceunit" style="display: none">{{ cartItem.price }}</span>
                                            <span id="unit" style="display: none">{{ cartItem.product.unit }}</span>
                                            <span style="margin-left: 30px;">
                                                <button name="{{ path('cart_update') }}" class="minnum button button-inverse button-box button-3d"><i class="fa fa-minus"></i></button>
                                                <br>
                                                <button name="{{ path('cart_update') }}" class="addnum button button-inverse button-box button-3d"><i class="fa fa-plus"></i></button>
                                            </span>
                                        </td>
                                        <td><span>{{ cartItem.product.unit }} uds</span></td>
                                        <td class="price"><span id="heji"></span> EUR</td>
                                        <td>
                                            <a class="button button-plain button-border button-box button-inverse remove"  name="{{ path('cart_cartitem_deleteAjax') }}" style="margin-left:30px;"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                    <tr>
                                        <td colspan="2" class="minCoste">店铺最低消费: <span id="minCoste">{{ cartShop.minCoste }}</span></td>
                                        <td></td><td></td>
                                        <td colspan="2">小计： <span id="totalshop"></span></td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="6" class="order-items-total" scope="row">商品价格: <span id="totalprice"></span> EUR</th>
                            </tr>
                            <tr>
                                <th class="order-delivery-costs" colspan="6" scope="row">大客户折扣: <span id="discount"></span> EUR</th>
                            </tr>
                            <tr class="total">
                                <th colspan="6" scope="row"><strong>总价:</strong> <span id="total"></span> EUR</th>
                            </tr>
                            <tr class="order-vat-costs">
                                <th colspan="6" scope="row">
                                    <span class="offleft">Impuestos</span>* IVA incluido
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                        <span id="allMinCoste" style="display: none">{{ allMinCoste }}</span>
                        <span id="userdiscount" style="display: none">{{ user.discount }}</span>
                        <div>
                            <p>
                                请购物满各家店铺的最低消费.
                                <br>商品价格已经是折后价格,大客户另可享专有折扣,更多信息请联系客服.</p>
                        </div>
                        <div class="anniu">
                            <button class="button-primary button-big FR yes" onclick="window.location.href='{{ path('cart_guestinfo') }}'" type="button" style="display: none;"><span>下一步</span></button>
                            <button class="button button-caution no">未达到每家店铺最低消费要求，无法继续购买流程</button>
                        </div>
                </section>
            </section>
            </div>
        {% else %}
            {% include 'DurabolBundle:Public:prepareLogin.html.twig' %}
        {% endif %}
        </div>




        <div role="tabpanel" class="tab-pane" id="person">
        {% if user.username is defined %}
            <div class="container-fluid perfil" style="margin-top: 80px;">
                <div class="touxiang">
                    <br>
                    <img src="{{ asset('uploads/fotos/user.jpg') }}">
                    <h3>{{ user.username }}</h3>
                    <h3>{{ user.email }}</h3>
                    <br><br>
                </div>
                <div class="leiji">
                    <br>
                    <h3>累计下单<span style="float:right">{{ user.OrderInfoSum|number_format(2, '.', ',') }} €</span></h3>
                    <div class="progress">
                        <div class="progress-bar" style="width: {% if user.OrderInfoSum <= 1000 %}{{ user.OrderInfoSum/10 }}{% else %}100{% endif %}%;"></div>
                    </div>
                    <p style="float:right">1000.00 €</p>
                    <br>
                    <h5>累计下单满1000.00 €即可享受大客户折扣</h5>
                    <br>
                </div>
                <hr class="featurette-divider">
                <h3><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;我的订单<span style="float:right; font-size: 30px; color: #7F8C8D;"><a href="{{ path('order_pedido') }}">查看全部 > </a></span></h3>
                <br><br>
                <div class="row orders">
                    <div class="col-xs-4">
                        <a href="{{ path('order_pedidoOther', { 'state': 1 }) }}">
                            <i class="fa fa-calendar-times-o" aria-hidden="true"></i><br>
                            <h3>待付款</h3>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="{{ path('order_pedidoOther', { 'state': 2 }) }}">
                            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i><br>
                            <h3>待发货</h3>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="{{ path('order_pedidoOther', { 'state': 3 }) }}">
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i><br>
                            <h3>已完成</h3>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 usershixiang">
                    <hr class="featurette-divider">
                    <a href="{% if user.data.id is defined %}{{ path('data_edit', { 'id': user.data.id }) }}{% else %}{{ path('data_new') }}{% endif %}"><h3>&nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;收货地址</h3></a>
                    <hr class="featurette-divider">
                    <a href="{{ path('font_info') }}"><h3>&nbsp;<i class="fa fa-volume-control-phone" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系我们</h3></a>
                    <hr class="featurette-divider">
                    <a href="{{ path('font_info') }}"><h3>&nbsp;<i class="fa fa-key" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分享网站</h3></a>
                    <hr class="featurette-divider">
                    <a href="{{ path('fos_user_security_logout') }}"><h3>&nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;退出登录</h3></a>
                </div>
            </div>
        {% else %}
            {% include 'DurabolBundle:Public:prepareLogin.html.twig' %}
        {% endif %}
        </div>
    </div>

    {% include 'DurabolBundle:Public:footer.html.twig' %}

{% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('bundles/durabol/js/index.js') }}"></script>
            <script src="{{ asset('bundles/durabol/js/cart.js') }}"></script>
        {% endblock %}

