{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/durabol/css/index.css') }}">
{% endblock %}

{% block body %}
    {% include 'DurabolBundle:Public:header.html.twig' %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="container-fluid">
                <div class="row qianggou">
                    <div class="col-xs-12">
                        <img src="{{ asset('bundles/durabol/img/main.jpg') }}" class="mainimg">
                    </div>
                    <div class="col-xs-12">
                        <h3><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;限时抢购
                            <span class="text-muted">>>查看更多</span>
                        </h3>
                        <hr class="featurette-divider">
                    </div>
                    {% for productSale in productSales %}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product">
                            <div class="thumbnail">
                                <a id="product_image" href="{{ path('font_productList', { 'category': productSale.category.id }) }}#product{{ productSale.id }}">
                                    <img src="{{ asset('uploads/fotos/' ~ productSale.foto) }}">
                                </a>
                                <div class="caption">
                                    <h6>{{ productSale.name }}</h6>
                                    <div class="price _product-price">
                                        <span class="sale">{{ (productSale.discountPrice * user.discount/100)|number_format(3, '.', ',') }} €</span>
                                        <span class="line-through">{{ (productSale.price * user.discount/100)|number_format(2, '.', ',') }} €</span>
                                        <a class="btn btn-danger" href="{{ path('font_productList', { 'category': productSale.category.id }) }}#product{{ productSale.id }}">马上抢购</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="tile">
                            <img src="{{ asset('bundles/durabol/img/icons/svg/compas.svg') }}" alt="Compas" class="tile-image big-illustration">
                            <h3 class="tile-title">本月上新</h3>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tile">
                            <img src="{{ asset('bundles/durabol/img/icons/svg/loop.svg') }}" alt="Compas" class="tile-image big-illustration">
                            <h3 class="tile-title">热卖好货</h3>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tile">
                            <img src="{{ asset('bundles/durabol/img/icons/svg/pencils.svg') }}" alt="Compas" class="tile-image big-illustration">
                            <h3 class="tile-title">团购须知</h3>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tile">
                            <img src="{{ asset('bundles/durabol/img/icons/svg/clipboard.svg') }}" alt="Compas" class="tile-image big-illustration">
                            <h3 class="tile-title">分享网站</h3>
                        </div>
                    </div>
                </div>
                {% for shop in shops %}
                    <div class="row qianggou">
                        <div class="col-xs-12">
                            <h3>
                                {% if shop.id == 1 %}
                                    <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-industry" aria-hidden="true"></i>
                                {% endif %}
                                &nbsp;&nbsp;{{ shop.name }}
                                <span class="text-muted"><a href="{{ path('font_categoryList', { 'shop': shop.id }) }}">>>进入店铺</a></span>
                            </h3>
                            <hr class="featurette-divider">
                        </div>
                        <div class="col-xs-2 thumbnail jieshao">
                            <h5>{{ shop.nameShort|upper }}<br><br><span>{{ shop.description }}</span></h5>
                        </div>
                        <div class="col-xs-10 thumbnail">
                            <div class="col-xs-3">
                                <a id="product_image" href="{{ path('font_productList', { 'category': shop.category(0).id }) }}">
                                    <img src="{{ asset('uploads/fotos/' ~ shop.category(0).foto) }}">
                                </a>
                                <div class="indexcategory">
                                    <h6>{{ shop.category(0).name }}</h6>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <a id="product_image" href="{{ path('font_productList', { 'category': shop.category(1).id }) }}">
                                    <img src="{{ asset('uploads/fotos/' ~ shop.category(1).foto) }}">
                                </a>
                                <div class="indexcategory">
                                    <h6>{{ shop.category(1).name }}</h6>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <a id="product_image" href="{{ path('font_productList', { 'category': shop.category(2).id }) }}">
                                    <img src="{{ asset('uploads/fotos/' ~ shop.category(2).foto) }}">
                                </a>
                                <div class="indexcategory">
                                    <h6>{{ shop.category(2).name }}</h6>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <a id="product_image" href="{{ path('font_productList', { 'category': shop.category(3).id }) }}">
                                    <img src="{{ asset('uploads/fotos/' ~ shop.category(3).foto) }}">
                                </a>
                                <div class="indexcategory">
                                    <h6>{{ shop.category(3).name }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>




        <div role="tabpanel" class="tab-pane" id="stores">
            <div style="margin-top: 80px;">
                {% for shop in shops %}
                <div class="">
                    <a href="{{ path('font_categoryList', { 'shop': shop.id }) }}">
                        <div class="col-xs-12">
                            <div class="col-xs-4 col-lg-2">
                                <img src="{{ asset('uploads/fotos/' ~ shop.foto) }}">
                            </div>
                            <div class="col-xs-6 col-lg-8 categoryinfo">
                                <br><h3>{{ shop.name }}</h3><br>
                                <h5>{% for categoryName in shop.categoryNames %}{% if loop.index <= 5 %}{{ categoryName }}, {% endif %}{% endfor %}等</h5>
                                <h5>{{ shop.minCoste }} €起订, 共计{{ shop.productNum }}个商品</h5>
                            </div>
                            <div class="col-xs-2">
                                <i class="fa fa-chevron-right" aria-hidden="true" style="line-height: 250px;font-size: 26px;font-weight: 600;"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12">
                    <hr class="featurette-divider">
                </div>
                {% endfor %}
            </div>
        </div>





        <div role="tabpanel" class="tab-pane" id="cart">
            <div class="container-fluid">
            <section id="main" class="content-main" role="main" style="margin-top: 80px;">
                <section id="shop-cart-content">
                        <table class="order-table">
                            <thead>
                            <tr class="thead">
                                <th>产品</th>
                                <th class="description">说明</th>
                                <th class="quantity">数量</th>
                                <th>单位</th>
                                <th class="price" id="priceHeader">价格</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="shangpin">
                            {% for cartItem in cartItems %}
                                <tr id="order-item" class="order-item">
                                    <td class="_detail">
                                        <a href="" target="_self">
                                            <img src="{{ asset('uploads/fotos/' ~ cartItem.product.foto) }}" width="135px;">
                                        </a>
                                    </td>
                                    <td class="description _detail">
                                        <a href="" target="_self">
                                            <span>{{ cartItem.product.name }}</span><br><br>{{ cartItem.product.code }}
                                        </a>
                                    </td>
                                    <td class="quantity">
                                        <span class="_quantity" id="_quantity">{{ cartItem.quantity }}</span>
                                        <span id="cartItemId" style="display: none">{{ cartItem.id }}</span>
                                        <span id="priceunit" style="display: none">{{ cartItem.price }}</span>
                                    <span style="margin-left: 30px;">
                                        <button name="{{ path('cart_update') }}" class="minnum button button-inverse button-box button-3d"><i class="fa fa-minus"></i></button>
                                        <br>
                                        <button name="{{ path('cart_update') }}" class="addnum button button-inverse button-box button-3d"><i class="fa fa-plus"></i></button>
                                    </span>
                                    </td>
                                    <td><span>{{ cartItem.product.unit }} uds</span></td>
                                    <td class="price"><span id="heji"></span> EUR</td>
                                    <td>
                                        <a class="button button-plain button-border button-box button-inverse" href="{{ path('cart_cartitem_delete', { 'id': cartItem.id }) }}" style="margin-left:30px;"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="6" class="order-items-total" scope="row">Total de productos: <span id="totalprice"></span> EUR</th>
                            </tr>
                            <tr>
                                <th class="order-delivery-costs" colspan="6" scope="row">Gastos de envío estimados: 0,00 EUR</th>
                            </tr>
                            <tr class="total">
                                <th colspan="6" scope="row"><strong>Total:</strong> <span id="total"></span> EUR</th>
                            </tr>
                            <tr class="order-vat-costs">
                                <th colspan="6" scope="row">
                                    <span class="offleft">Impuestos</span>* IVA incluido
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                        <div>
                            <p>
                                Devoluciones y reembolso: Tiene una semana para cancelar o devolver tu pedido.
                                <br>Antes de todo, póngase en contacto con nosotros.
                                <br>Lee más sobre nuestra política de devoluciones y reembolso.</p>
                        </div>
                        <div class="anniu">
                            <button class="button-primary button-big FR" type="button"><span>Continuar</span></button>
                        </div>
                </section>
            </section>
            </div>
        </div>




        <div role="tabpanel" class="tab-pane" id="person">
            <div class="container-fluid perfil" style="margin-top: 100px;">
                <div class="touxiang">
                    <br>
                    <img src="{{ asset('uploads/fotos/user.jpg') }}">
                    <h3>{{ user.username }}</h3>
                    <h3>{{ user.email }}</h3>
                    <br><br>
                </div>
                <div class="leiji">
                    <br>
                    <h3>本月累计下单<span style="float:right">360.00 €</span></h3>
                    <div class="progress">
                        <div class="progress-bar" style="width: 36%;"></div>
                    </div>
                    <p style="float:right">1000.00 €</p>
                    <br>
                    <h5>本月累计下单满1000.00 €即可参与年终抽奖活动</h5>
                    <br>
                </div>
                <hr class="featurette-divider">
                <h3><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;我的订单<span style="float:right; font-size: 30px; color: #7F8C8D;"> 查看全部 > </span></h3>
                <br><br>
                <div class="row orders">
                    <div class="col-xs-4">
                        <i class="fa fa-calendar-times-o" aria-hidden="true"></i><br>
                        <h3>待付款</h3>
                    </div>
                    <div class="col-xs-4">
                        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i><br>
                        <h3>待发货</h3>
                    </div>
                    <div class="col-xs-4">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i><br>
                        <h3>已完成</h3>
                    </div>
                </div>
                <div class="col-xs-12 usershixiang">
                    <hr class="featurette-divider">
                    <a href=""><h3>&nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;收货地址</h3></a>
                    <hr class="featurette-divider">
                    <a href=""><h3>&nbsp;<i class="fa fa-volume-control-phone" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系我们</h3></a>
                    <hr class="featurette-divider">
                    <a href="{{ path('fos_user_change_password') }}"><h3>&nbsp;<i class="fa fa-key" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修改密码</h3></a>
                    <hr class="featurette-divider">
                    <a href="{{ path('fos_user_security_logout') }}"><h3>&nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;退出登录</h3></a>
                </div>
            </div>
        </div>
    </div>

    {% include 'DurabolBundle:Public:footer.html.twig' %}

{% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('bundles/durabol/js/index.js') }}"></script>
            <script src="{{ asset('bundles/durabol/js/cart.js') }}"></script>
        {% endblock %}

