{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/durabol/css/payment.css') }}" />
{% endblock %}

{% block body %}
    {% include 'DurabolBundle:Public:header.html.twig' %}

    <br><br><br>
    <div class="container" id="container">
        <div class="box col-md-6 col-lg-6" style="text-align: center;display: inline-block;position: relative; top: 100px;">
            <img src="{{ asset('bundles/durabol/img/failed.jpg') }}">
        </div>
        <div class="box col-md-6 col-lg-6" style="display: inline-block;">
            <h3 class="box"><b>抱歉，您的订单没有支付成功.</b></h3>
            <h4>您可进入我的订单中再次付款，或联系客服更换支付方式.</h4>
            <br><br><br>
            <h4>客户名/公司名: {{ orderInfo.receiverName }}</h4>
            <h4>总订单: {{ orderInfo.id }}</h4>
            <h4>子订单: {% for childOrderInfo in childOrderInfos %}{{ childOrderInfo.id }} {% endfor %}</h4>
            <h4>订单总额: {{ orderInfo.totalPrice|number_format(2, '.', ',') }} €</h4>
            <h4>下单时间: {% if orderInfo.orderDate %}{{ orderInfo.orderDate|date('Y-m-d H:i:s') }}{% endif %}</h4>
            <br>
            <a href="" class="button button-rounded button-inverse">查看我的订单</a>
        </div>

    </div>

{% endblock %}
