
{% block stylesheets %}
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/durabol/css/button.css') }}" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/durabol/css/orderinfo.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/durabol/css/cart.css') }}" />
{% endblock %}

{% block body %}
    <br><br>
    <div class="container" style="min-height:400px;">
        <div class="box col-xs-12 col-lg-6" style="display: inline-block;margin-top: 30px">
            <h3 class="box"><b>Su pago ha sido procesado con éxito.</b></h3>
            <h4>Muchas gracias！</h4>
            <br><br><br>
            <h4>Nombre de Cliente: {{ orderInfo.receiverName }}</h4>
            <h4>Número de Pedido: {% for childOrderInfo in childOrderInfos %}{{ childOrderInfo.id }} {% endfor %}</h4>
            <h4>Importe Total: {{ orderInfo.totalPrice|number_format(2, '.', ',') }} €</h4>
            <h4>Tiempo de Generación: {% if orderInfo.orderDate %}{{ orderInfo.orderDate|date('Y-m-d H:i:s') }}{% endif %}</h4>
            <br>
            <h4>Atentamente,</h4>
            <h4>el Equipo Groupon100.</h4>
        </div>
    </div>
{% endblock %}
