{% extends 'DurabolBundle:BackEnd:index.html.twig' %}

{% block menuslide %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('durabol_homepage_admin') }}"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp;总览  <span class="sr-only">(current)</span></a></li>
        <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;信息</a></li>
        <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp; 分析</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('user_index') }}"><i class="fa fa-users" aria-hidden="true"></i> &nbsp;&nbsp;用户管理</a></li>
        <li><a href="{{ path('shop_index') }}"><i class="fa fa-columns" aria-hidden="true"></i> &nbsp;&nbsp;店铺分类管理</a></li>
        <li class="active"><a href="{{ path('product_selectShop') }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;产品管理</a></li>
        <li><a href="{{ path('select_sale') }}"><i class="fa fa-heart" aria-hidden="true"></i> &nbsp;&nbsp;打折选择</a></li>
        <li><a href="{{ path('orderinfo_index') }}"><i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp;&nbsp;订单管理</a></li>
        <li><a href="{{ path('slider_index') }}"><i class="fa fa-picture-o" aria-hidden="true"></i> &nbsp;&nbsp;首页轮播图片</a></li>
        <li><a href="{{ path('pingtu_index') }}"><i class="fa fa-picture-o" aria-hidden="true"></i> &nbsp;&nbsp;六格功能图片</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Gestión de Productos</h1>
    {% if shop is defined %}
        <h4 class="sub-header">{{ shop.name }} -> {{ category.name }}</h4>
    {% endif %}
    <br>
    <ul>
        <li>
            {% if shop is defined %}
                <a href="{{ path('product_new', { 'shop': shop.id, 'category': category.id }) }}" class="button button-rounded button-inverse">Crear Nuevo</a>
                <a href="{{ path('product_selectCategory', { 'shop': shop.id }) }}" class="button button-rounded button-inverse">Volver</a>
            {% endif %}
            <a href="{{ path('product_importFile') }}" class="button button-rounded button-inverse">批量上传</a>
        </li>
    </ul>
    <br>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Unidad</th>
                <th>Código</th>
                <th>Foto</th>
                <th>Mostrado</th>
                <th>Categoría</th>
                {% if shop is defined %}
                <th>Top</th>
                {% endif %}
                {% if shop is defined %}
                <th>Operaciones</th>
                {% else %}
                <th>Shop</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.unit }}</td>
                <td>{{ product.code }}</td>
                <td><img src="{{ asset('uploads/fotos/' ~ product.foto) }}" height="100px" width="100px"></td>
                <td>{% if product.isShow %}Yes{% else %}No{% endif %}</td>
                <td>
                    {% if shop is defined %}
                        {{ product.category.name }}
                    {% else %}
                        <a class="btn btn-primary" href="{{ path('product_index', { 'shop': product.category.shop.id, 'category': product.category.id }) }}">{{ product.category.name }}</a>
                    {% endif %}
                </td>
                {% if shop is defined %}
                <td>
                    {% if product.isTop %}
                        Sí<br><a class="button button-tiny button-caution" href="{{ path('product_isTop', { 'shop': product.category.shop.id, 'category': product.category.id, 'product': product.id }) }}">Cancelar</a>
                    {% else %}
                        No<br><a class="button button-tiny button-action" href="{{ path('product_isTop', { 'shop': product.category.shop.id, 'category': product.category.id, 'product': product.id }) }}">Set Top</a>
                    {% endif %}
                </td>
                {% endif %}
                <td>
                    <ul>
                        <li>
                            {% if shop is defined %}
                                <a href="{{ path('product_edit', { 'id': product.id, 'shop': shop.id, 'category': category.id }) }}" class="button button-tiny button-primary">Modificar</a>
                            {% else %}
                                <a class="btn btn-info" href="{{ path('product_selectCategory', {'shop': product.category.shop.id }) }}">{{ product.category.shop.name }}</a>
                            {% endif %}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
